* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/login1.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.my-form {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 420px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
button {
  background: black;
  color: gold;
}
footer {
  font-size: 18px;
  color: black;
}
